:root {
  /* Colores primarios */

  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);

  /* Gradientes */
  --light-slate-blue-background: hsl(252, 100%, 67%);
  --light-royal-blue-background: hsl(241, 81%, 54%);

  --violet-blue-circle: hsla(256, 72%, 46%, 0.7);
  --persian-blue-circle: hsla(241, 72%, 46%, 0.6);

  /* Colores neutrales */
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);

  /* Fuente */
  --hanken-grotesk: "Hanken Grotesk", sans-serif;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-result {
  border-radius: 0 0 2rem 2rem;
  background-image: linear-gradient(
    var(--light-slate-blue-background),
    var(--light-royal-blue-background)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.title {
  margin: 1.25rem 0;
  color: var(--light-lavender);
  font-family: var(--hanken-grotesk);
  font-weight: 500;
  font-size: 1rem;
}

.circle {
  background-image: linear-gradient(
    var(--violet-blue-circle),
    var(--persian-blue-circle)
  );
  width: 117px;
  height: 117px;
  border-radius: 50%;
  text-align: center;
}

.result-user {
  margin: 1.5rem 0 0.5rem 0;
  color: var(--pale-blue);
  font-size: 3rem;
  font-family: var(--hanken-grotesk);
  font-weight: 800;
}

.result-total {
  margin: 0;
  color: hsla(241, 100%, 89%, 0.5);
  font-size: 0.85rem;
  font-family: var(--hanken-grotesk);
}

.user-note {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--pale-blue);
  font-size: 1.3rem;
  font-family: var(--hanken-grotesk);
}

.paragraph {
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding: 0 4rem;
  color: hsla(241, 100%, 89%, 0.75);
  font-size: 0.85rem;
  font-family: var(--hanken-grotesk);
  line-height: 1.5;
  text-align: center;
}

.section-sumary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.summary {
  color: var(--dark-gray-blue);
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  font-size: 1rem;
  font-family: var(--hanken-grotesk);
  font-weight: 800;
}

.card-stat {
  margin-left: 2.4rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
  font-family: var(--hanken-grotesk);
  font-weight: 700;
  line-height: 1.4;
}

.card-icons {
  float: left;
  margin-right: 0.6rem;
}

.card-result-stat {
  color: hsl(224, 30%, 25%);
  margin-left: 8.5rem;
  margin-right: 0.2rem;
  font-weight: 800;
}

.card-result-stat-gray {
  color: hsl(241, 100%, 80%);
  font-weight: 800;
}

.reaction {
  color: var(--light-red);
}

.memory {
  color: var(--orangey-yellow);
  margin-right: 0.1rem;
}

.verbal {
  color: var(--green-teal);
  margin-right: 0.8rem;
}

.visual {
  color: var(--cobalt-blue);
  margin-right: 0.9rem;
}

.card-button {
  background-color: var(--dark-gray-blue);
  color: var(--white);
  width: 82%;
  height: 3.2rem;
  margin: 0 auto 2rem auto;
  border-radius: 1.5rem;
  font-family: var(--hanken-grotesk);
  font-weight: 700;
  border-style: none;
}

@media (min-width: 992px) {
  .card {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .section-result {
    border-radius: 2rem;
    width: 20%;
    height: auto;
    box-shadow: 0 10px 10px rgba(209, 221, 225, 0.8);
  }

  .title {
    margin: 2rem 0 1.7rem 0;
  }

  .circle {
    width: 8.1rem;
    height: 8.1rem;
    padding-top: 0.5rem;
  }

  .section-sumary {
    width: 22%;
    height: auto;
    box-shadow: 0 10px 10px rgba(209, 221, 225, 0.8);
  }

  .result-user {
    margin: 1.5rem 0 0 0;
  }

  .result-total {
    font-size: 0.75rem;
    margin-top: 0.15rem;
  }

  .paragraph {
    margin-top: 0.4rem;
    font-size: 0.8rem;
    padding: 0 2.5rem;
    text-align: center;
    color: hsla(249, 18%, 92%, 0.7);
  }

  .summary {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    font-size: 1rem;
  }

  .card-stat {
    margin-left: 2.7rem;
    margin-bottom: 1.3rem;
    font-size: 0.85rem;
    font-family: var(--hanken-grotesk);
    font-weight: 700;
    line-height: 1.4;
  }

  .card-result-stat {
    margin-left: 3.5rem;
    margin-right: 0.2rem;
  }

  .card-button {
    width: 78%;
    height: 2.8rem;
    margin: 1rem auto 2rem auto;
    border-radius: 1.5rem;
    font-size: 0.87rem;
    font-weight: 500;
  }

  .card-button:hover {
    cursor: pointer;
    background-image: linear-gradient(
      var(--light-slate-blue-background),
      var(--light-royal-blue-background)
    );
  }
}
